footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

footer p {
  margin: 0;
}
footer .direita {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 36px;
}
footer p:first-child {
  text-align: left;
}
footer p:not(:first-child) {
  text-align: right;
}

@media (max-width: 360px) {
  footer {
    
    width: 360px;
    height: 95px;
    display: grid;
    justify-content: center;
    gap: 14px;
    font-size: 14px;
    p{
        margin: 0 auto;
    }

    .direita {
      display: flex;
      gap: 12px;  
    }
  }
}
